# Define site configs
# zmsetup.in in container uses this to generate config.zimbra for newinstall

# Administrative domain for internal use such as spam, ham, etc
ADMIN_DOMAIN="mail.zimbra.lab"

# Default admin user and password
ADMIN_USERNAME="mailadmin"
ADMIN_PASSWORD="Zimbra"

# LDAP password among servers
LDAP_ROOT_PASS="FBrkYxh9waCmSC"
LDAP_ADMIN_PASS="REzySS8s732M4k"

# Local timezone
TIME_ZONE="Asia/Kuala_Lumpur"

# First server (LDAP Master)
LDAP_HOST="$LDAP_HOST"

# MTA host, used by mailbox servers
SMTP_HOST="$SMTP_HOST"
