# Define site configs
# Used by zmsetup.in to generate /zmsetup/config.zimbra to do initial setup

# Administrative domain for internal use such as spam, ham, etc
ADMIN_DOMAIN="mail.zimbra.lab"

# Default admin user and password
ADMIN_USERNAME="mailadmin"
ADMIN_PASSWORD="Zimbra"

# LDAP password among servers
LDAP_ROOT_PASS="FBrkYxh9waCmSC"
LDAP_ADMIN_PASS="REzySS8s732M4k"

# Local timezone
TIME_ZONE="Asia/Kuala_Lumpur"

# First server (LDAP Master)
# for singleserver, use $HOSTNAME
LDAP_HOSTNAME="mail.zimbra.lab"

# MTA host, used by mailbox servers
# for singleserver, use $HOSTNAME
SMTP_HOSTNAME="mail.zimbra.lab"
