# This file is used by compose.yaml to set variables.
#
# If running as AIO, just define this line.
AIO="mail.zimbra.lab"

# For multiserver
LDAP1="ldap1.zimbra.lab"
LDAP2="ldap2.zimbra.lab"
MTA1="mta1.zimbra.lab"
MTA2="mta2.zimbra.lab"
PROXY1="proxy1.zimbra.lab"
PROXY2="proxy2.zimbra.lab"
LDS="lds.zimbra.lab"
MBX1="mbx1.zimbra.lab"
MBX2="mbx2.zimbra.lab"
LOGGER="logger.zimbra.lab"
ARCHIVE="archive.zimbra.lab"

# Volume names (do not use "_" in name)
AIO_VOL="my-aio-vol"

# For multiserver
LDAP1_VOL="ldap1-vol"
LDAP2_VOL="ldap2-vol"
MTA1_VOL="mta1-vol"
MTA2_VOL="mta2-vol"
PROXY1_VOL="proxy1-vol"
PROXY2_VOL="proxy2-vol"
LDS_VOL="lds-vol"
MBX1_VOL="mbx1-vol"
MBX2_VOL="mbx2-vol"
LOGGER_VOL="logger-vol"
ARCHIVE_VOL="archive-vol"

